# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Django migrations (except the __init__.py files)
**/migrations/*
!**/migrations/__init__.py

# Environment variables
*.env
.env

# VSCode, PyCharm, and other IDEs
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/
